.column-formacao {
  background: #141414;
  position: relative;
}
.formacao {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}
.title-formacao {
  color: #000000;
  font-size: 8rem;
  line-height: 1;
  word-break: break-all;
  max-width: 5ch;
  text-transform: uppercase;
}
.row-formacao {
  display: grid;
  gap: 60px;
  position: relative;
}
.texto-formacao {
  display: inline !important;
  color: #a3a3a3;
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
}
.texto-formacao strong {
  color: #ffffff;
}
.column-quadrados {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.quadrados-formacao {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px;
  background: #000000;
  border-radius: 4px;
}
.title-quadrados {
  margin-bottom: 10px;
  color: #a3a3a3;
  font-weight: 400;
  font-size: 0.875rem;
}
.text-quadrados {
  font-weight: 700;
  font-size: 1.15rem;
  color: #ffffff;
  position: relative;
  margin-bottom: 40px;
  align-content: flex-start;
  flex: 1;
}
.text-quadrados::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 25px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  left: -25px;
}
.text2-quadrados {
  font-weight: 400;
  font-size: 1.1rem;
  color: #a3a3a3;
}
.column-cursos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  position: relative;
}
.cursos-icon {
  position: absolute;
  left: -30px;
  top: -5px;
}
.title-cursos {
  font-size: 0.9rem;
  color: #8f8f8f;
  grid-column: 1;
}
.text1-cursos {
  font-weight: 400;
  font-size: 1.1rem;
  color: #ffffff;
  grid-column: 1;
}
.text2-cursos {
  font-weight: 400;
  font-size: 1.1rem;
  color: #8f8f8f;
  align-items: flex-end;
  grid-column: 3/4;
  margin-bottom: 10px;
}
.column-formacao::after {
  content: "";
  width: 128px;
  height: 128px;
  background: url(../img/detalhe.svg) no-repeat center;
  position: absolute;
  bottom: -60px;
  left: 20px;
}
@media (max-width: 1200px) {
  .title-formacao {
    max-width: 4ch;
  }
  .formacao {
    gap: 50px;
  }
}
@media (max-width: 800px) {
  .formacao {
    grid-template-columns: 1fr;
  }
  .title-formacao {
    color: #000000;
    font-size: 3rem;
    max-width: none;
    text-transform: capitalize;
  }
  .formacao {
    gap: 30px;
  }
  .title-formacao {
    color: #ffffff;
  }
  .cursos-icon {
    position: initial;
  }
}
