




.footer {
  display: grid;
  background: #000000;
  position: relative;
}
.img-footer {
  position: absolute;
  top: -60px;
  left: 200px;
}

#text1 {
  margin-top: 160px;
  margin-left: 200px;
  color: #cccccc;
  font-weight: 400;
  font-size: 1.5rem;
  width: 450px;
}

#text2 {
  color: #8f8f8f;
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 160px;
  margin-left: 200px;
  margin-bottom: 120px;
}

.lista-contato {
  margin-top: 160px;
  grid-column: 2;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #ffffff;
}
.lista-contato li {
  margin-top: 30px;
}