.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  margin-bottom: 100px;
}
.texto-introducao {
  font-size: 4rem;
  margin-bottom: 30px;
  position: relative;
}
.texto-introducao::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url(../img/detalhe.svg) no-repeat center;
  top: 5px;
  left: -35px;
  z-index: -1;
  position: absolute;
}
.texto-introducao p {
  font-size: 1.4rem;
  color: #525252;
}

@media (max-width: 1000px) {
  .introducao {
    margin-bottom: 80px;
  }
  .texto-introducao {
    font-size: 3rem;
  }
  .texto-introducao::before {
    width: 40px;
    height: 10px;
    top: -5px;
    left: 0px;
  }
}
@media (max-width: 800px) {
  .introducao {
    gap: 40px;
    margin-bottom: 40px;
  }
  .texto-introducao {
    font-size: 2rem;
  }
  .texto-introducao p {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .introducao {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
  }
  .texto-introducao {
    font-size: 1.5rem;
  }
  .texto-introducao::before {
    top: -7px;
  }
}
