* {
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  font-family: Fira Sans;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

#logo-header {
  padding-left: 140px;
  padding-top: 50px;
  display: grid;
}

.navbar-header {
  display: flex;
  gap: 2rem;
  font-size: 1.1rem;
  padding-right: 140px;
  padding-top: 50px;
  padding-left: 20px;
}

.navbar-header a {
  color: #141414;
}

.introduction {
  display: grid;
  grid-template-columns: 460px 680px;
  gap: 140px;
  margin-top: 80px;
  margin-left: 140px;
  position: relative;
}

.introduction-texts {
  display: grid;
  font-size: 4rem;
  gap: 30px;
  align-content: center;
  font-style: bold;
}
.introduction-texts p {
  color: #525252;
  font-size: 1.5rem;
}
.center-img-text {
  position: relative;
}
.img-text {
  width: 140px;
  position: absolute;
  top: 105px;
  left: 555px;
  z-index: -1;
}

.coluna-experiencia {
  display: grid;
  grid-template-columns: 600px 1fr;
  margin-left: 130px;
  margin-top: 120px;
}
.title-experiencia {
  display: grid;
  word-break: break-word;
  color: #e0e0e0;
  font-size: 144px;
  grid-column: 1;
  grid-area: 1;
  max-width: 380px;
}
.row-experiencia {
  display: flex;
  flex-direction: column;
  grid-template-columns: 1000px;
}
.row-experiencia h3 {
  font-size: 1.2rem;
  color: #000000;
}
.texto-experiencia {
  display: grid;
  color: #525252;
  font-size: 1.5rem;
  align-self: flex-start;
  width: 550px;
  margin-bottom: 40px;
}

.column-experiencia {
  margin-top: 20px;
  display: grid;
  background: #f5f5f5;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  max-width: 900px;
}
.menu-exp-tittle {
  margin-left: 75px;
}
.exp-text {
  font-size: 1.2rem;
  color: #525252;
  width: 450px;
}

.menu-exp-lista {
  margin-left: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 300px;
  align-items: flex-start;
}
.exp-text {
  margin-top: 10px;
}

.lista {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 20px;
  margin-top: 10px;
  gap: 10px;
  background: #ffffff;
  border-radius: 5px;
}


